# Backend Environment Variables
# Copy this file to .env for local development
# Add ALL these keys as Environment Variables in your Render dashboard

PORT=3000
DB_CONNECTION_SECRET=mongodb+srv://<user>:<password>@cluster.mongodb.net/devTinder
JWT_SECRET_KEY=<your-jwt-secret>
FRONTEND_URL= https://dev-tinder-web-rho-puce.vercel.app/

# Razorpay
RAZORPAY_KEY_ID=<your-razorpay-key-id>
RAZORPAY_KEY_SECRET=<your-razorpay-key-secret>
RAZORPAY_WEBHOOK_SECRET=<your-razorpay-webhook-secret>
